{% extends "layout.html" %}

{% block body %}
    <h3>PDF'ler</h3>

    {% if pdfs %}
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">İsim</th>
                <th scope="col">Kullanıcı</th>
              </tr>
            </thead>
            <tbody>
    
            {% for pdf in pdfs %}
                <tr>
                    <th scope="row">{{pdf.PdfId}}</th>
                    <td><a href="/pdf/{{pdf.PdfId}}">{{pdf.PdfName}}</a></td>
                    <td>{{pdf.UserEmail}}</td>
                </tr>
            {% endfor %}
            
            </tbody>
          </table>
    {% else %}
        <div class = "alert-alert-danger">Bu blokta henüz pdf bulunmuyor</div>
    {% endif %}

{% endblock body %}