{% extends "layout.html" %}

{% block body %}
    {% from "includes/formhelpers.html" import render_field %}

    <h3>Anahtar Kelimeleri Sorgula</h3>
    <br>

    <form method="post">
        {{ render_field(form.sorgu) }}
        
        <button type="submit" class="btn btn-primary">Sorgula</button>
    </form>

    <br>

    {% if datas %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">İsim</th>
            </tr>
            </thead>
            <tbody>

            {% for data in datas %}
                <tr>
                    <th scope="row">{{data.PdfId}}</th>
                    <td>{{data.PdfName}}</td>
                </tr>
            {% endfor %}
            
            </tbody>
        </table>
    {% endif %}
{% endblock body %}